@charset "utf-8";
/* CSS Document */

/* ELEMENTOS HTML */

/* texto */
* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #EEE;
	outline: 0;
	text-align: justify;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight: inherit;
	font-style: inherit;
	line-height: 180%;
	color: #666;
	vertical-align: baseline;
}
header, section, footer, article, nav, figure {
	display: block;
}
/* cabecalhos */
h1, h2, h3, p {
	margin: 10px;
	padding: 0px;
}
h1 {
	font-size: 18px;
	color: #666;
}
h2 {
	font-size: 16px;
	color: #666;
}
h3 {
	font-size: 14px;
	color: #666;
}
/* listas */
ul, ol {
	display: block;
	margin: 10px;
	padding: 0px;
	list-style-position: inside;
}
li {
	margin: 0px;
	padding: 0px;
}
/* links */
a:link, a:visited {
	color: #09C;
	text-decoration: none;
}
a:hover, a:active {
	color: #069;
	text-decoration: underline;
}
/* imagens */
img {
	border: none;
}
a img {
	border: none;
}
/* tabelas */
table {
	width: 100%;
}
th {
	padding: 3px;
	background-color: #DDD;
	border-bottom: 1px solid #999;
}
td {
	padding: 3px;
	border-bottom: 1px solid #CCC;
}
table img {
	padding: 3px;
	vertical-align: middle;
}

/* MONTAGEM DA PÁGINA */

/* caixas de conteudo */
#todaPagina {
	width: 990px;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0px auto;
	background: inherit;
	
}
#cabecalho {
	width: 980px;
	overflow: hidden;
	margin: 0px auto;
	background-color: #444;
	border: 1px solid #777;
	word-spacing: 3px;
	color: #DDD;
} 
#conteudo {
	width: 960px;
	overflow: hidden;
	margin: 5px auto;
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #777;
} 
#conteudoLateral {
	width: 160px;
	float: left;
	background-color: #EEE;
}
#conteudoAplicacao {
	width: 790px;
	float: right;
	overflow: hidden;
}
#rodape {
	width: 980px;
	overflow: hidden;
	margin: 5px auto;
	background-color: #FFF;
	border: 1px solid #777;
	text-align: center;
	line-height: normal;
}

/* ESTILOS DOS ELEMENTOS ESPECIFICOS */

/* mensagens de retorno */
.msgErro {
	width: auto;
	overflow: hidden;
	background-color: #FFE8EA; 
	border: 1px solid #F00;
	text-align: center;
	font-size: 12px;
	color: #F00;
}
.msgOk {
	width: auto;
	overflow: hidden;
	background-color: #E9F9E6;
	border: 1px solid #090;
	text-align: center;
	font-size: 12px;
	color: #090;
}
/* personalizacao do cabecalho */
#cabecalho a:link, #cabecalho a:visited {
	color: #CCC;
}
#cabecalho a:hover, #cabecalho a:active {
	color: #FFF;
}
#cabecalho h1, #cabecalho h2 {
	color: #DDD;
}
#cabecalho img {
	background-color: #F00;
	vertical-align: text-top;
}
/* personalizacao do conteudo da aplicacao */
#conteudo h1 {
	border-bottom: 2px solid  #09F;
}
#conteudo h2 {
	border-bottom: 1px solid #09F;	
}
.formLinhas {
	width: auto;
	display: block;
	overflow: hidden;
}
.tableBox {
	width: auto;
	display: block;
	overflow: hidden;
	padding: 10px;
}
/* personalizacao do menu de navegacao lateral */
#conteudoLateral img {
	vertical-align: text-top;
}
/* estilo para paragrafos avulsos */
.fontPequena {
	font-size: 12px;
	color: #999;
}
.fontPequena a:link, .fontPequena a:visited {
	color: #666;
}
.fontPequena a:hover, .fontPequena a:active {
	color: #333;
}